buildNative/
buildWin32/
buildWin64/
installNative/
installWin32/
installWin64/
sources/
sources/*_downloaded
sources/*_extracted

arm-none-eabi-gcc-*-*
arm-none-eabi-gcc-*-*.tar.xz
arm-none-eabi-gcc-*-*-win32.7z
arm-none-eabi-gcc-*-*-win64.7z
